<form id="reset" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="{{ path('auth_reset') }}" method="post">
	<div class="mb-4">
		<div {{ vue_component('PasswordField', { 'id': "reset-form__pwd-first", 'name': "reset[password][first]", 'label': 'Password', 'placeholder': 'Password', 'class': "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } ) }}></div>
		<div {{ vue_component('PasswordField', { 'id': "reset-form__pwd-second", 'name': "reset[password][second]", 'label': false, 'placeholder': 'Confirm Password', 'class': "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" } ) }}></div>
	</div>

	<div class="mb-4 flex items-center justify-between">
		<input type="hidden" name="reset[_csrf_token]" value="{{ csrf_token('reset') }}">
		<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
			Submit
		</button>
	</div>
</form>
