<?xml version="1.0" encoding="UTF-8"?>
<Request>
	<Product>
		<ItemId>3021715199</ItemId>
		<Attributes></Attributes>
		<variation>
			<variation1>
				<name>Color</name>
				<hasImage>true</hasImage>
				<customize>true</customize>
				<options>
					<option>Blue</option>
				</options>
			</variation1>
			<variation2>
				<name>PlaceholderBgs</name>
				<hasImage>false</hasImage>
				<customize>true</customize>
				<options>
					<option>0</option>
				</options>
			</variation2>
		</variation>
		<Skus>
			<Sku>
				<SellerSku>21test001</SellerSku>
				<quantity>1</quantity>
				<price>99</price>
				<saleProp>
					<Color>Blue</Color>
					<PlaceholderBgs>0</PlaceholderBgs>
				</saleProp>
				<package_height>1</package_height>
				<package_length>1</package_length>
				<package_width>1</package_width>
				<package_weight>1</package_weight>
			</Sku>
		</Skus>
	</Product>
</Request>
