<?xml version="1.0" encoding="UTF-8"?>
<Request>
	<Product>
		<PrimaryCategory>1506</PrimaryCategory>
		<ItemId>3021715199</ItemId>
		<variation>
			<variation1>
				<name>Color</name>
				<label>Color</label>
				<hasImage>true</hasImage>
				<customize>true</customize>
				<options>
					<option>Blue</option>
				</options>
			</variation1>
			<variation2>
				<name>PlaceholderBgs</name>
				<options>
					<option>0</option>
				</options>
				<customize>true</customize>
				<hasImage>false</hasImage>
			</variation2>
		</variation>
		<Attributes>
			<description>&lt;p&gt;asertherh&lt;/p&gt;</description>
			<name>Test Product A</name>
			<brand>NOBRAND</brand>
			<warranty_type>Local Supplier Warranty</warranty_type>
			<warranty>2 Months</warranty>
			<product_warranty>Test Policy</product_warranty>
			<Hazmat>None</Hazmat>
			<source>asc</source>
		</Attributes>
		<Skus>
			<Sku>
				<Status>inactive</Status>
				<quantity>1</quantity>
				<tax_class>default</tax_class>
				<Images>
					<Image>https://my-live.slatic.net/p/eff6f326c26052f64b9f5212cf854cbf.png</Image>
				</Images>
				<SellerSku>21test001/test</SellerSku>
				<ShopSku>3021715199_MY-18275320497</ShopSku>
				<saleProp>
					<Color>Blue</Color>
					<PlaceholderBgs>0</PlaceholderBgs>
				</saleProp>
				<Url>https://www.lazada.com.my/-i3021715199-s18275320497.html</Url>
				<multiWarehouseInventories></multiWarehouseInventories>
				<package_width>1</package_width>
				<package_height>1</package_height>
				<fblWarehouseInventories></fblWarehouseInventories>
				<special_price>0</special_price>
				<price>99</price>
				<channelInventories></channelInventories>
				<package_length>1</package_length>
				<package_weight>1</package_weight>
				<Available>1</Available>
				<SkuId>18275320497</SkuId>
			</Sku>
		</Skus>
	</Product>
</Request>
