<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Email</title>
    <style>
        .frame{
            width:100%;
        }
        .container{
            width:700px;
        }
        .row{
            display:block;
            margin:1rem 0;
        }
        .text-center{
            text-align: center;
        }
        .align-center{
            margin: 0 auto;
        }
        .btn{
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            text-decoration: none;
        }
        .btn.btn-verify, .btn-verify{
            background-color:#e94e59;
            color:#FFFFFF;
        }
        .btn.btn-remove, .btn-remove{
            background-color:#6610f2;
            color:#FFFFFF;
        }
    </style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>