{% extends 'email/_base.html.twig' %}

{% block content %}
<div class="frame">
    <div class="container align-center">
        {#<div class="row text-center">
            <img src="https://partner.pandorabox.com.my/resources/images/pandorabox-brand-bordered-white.png" style="height:48px"/>
        </div>#}
        <div class="row">
            <h2>Verify your Bargus Account</h2>
        </div>
        <div class="row">
            <span>Hi there&#44;</span><br/>
            <span>We are reaching out because your Bargus account isn&#39;t verified. To verify your account&#44; click the button below.</span>
        </div>
        <div class="row text-center">
            <a class="btn btn-verify" href="{{ verification_url }}">Verify Now</a>
        </div>
        <div class="row">
            This link is valid for 72 hours. If the link expires, this email will be blocked from opening new accounts on our site for a month to prevent spam. If you have no recollection of signing up with us, no further action is required.
        </div>
    </div>
</div>
{% endblock %}